/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'IBM Plex Mono',sans-serif;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(222,s 222, 222);
}

p {
    color: rgb(85, 85, 85);
    font-size: 50%;
}

h1, h2, h3, h4, h5 {
    color: rgb(85, 85, 85);
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, p:hover {
    color: rgb(104, 237, 113);
    transition: all 2ms ease;
}

/* TRANSITION */
a, .btn {
    transition: all 500ms ease;
}

/* NAV BAR */
nav, .nav-links, .external-links, .name {
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    background-color: rgb(28, 28, 28);
    padding: 0 20px;
    position: fixed;
    width: 98%;
}
.external-links, .nav-links {
    gap: 2rem;
    list-style: none;
}

a, .name{
    color: white;
    text-decoration:double;
    text-decoration-color: white;
}

a:hover, .name:hover {
    color: rgb(104, 237, 113);
    transition: all 2ms ease;
}

/* CONTENT */
section {
    padding-top: 4vh;
    padding-left: 24vh;
    padding-right: 24vh;
    height: 48vh;
}

.home {
    padding-top: 16vh;
    font-size: 3rem;
    color: #333;
}

.projects-header {
    font-size: 2.5rem;
    padding-bottom: 8vh;
}