/* general */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono', sans-serif;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(16, 16, 16);
}

p {
    color: rgb(222, 222, 222);
}

h1,
h2,
h3,
h4,
h5 {
    color: rgb(222, 222, 222);
}

/* transition */
a,
.btn {
    transition: all 500ms ease;
}

/* sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 160px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem;
    justify-content: space-between;
    border: 2px solid rgb(222, 222, 222);
}

.sidebar:hover {
    background-color: rgb(3, 3, 3);
    transition: 600ms;
}

.sidebar-links {
    word-spacing: 1.5rem;
    gap: 4rem;
    list-style: none;
}

.sidebar-links-external {
    list-style: none;
}

a,
.alert-text {
    color: rgb(222, 222, 222);
    text-decoration: none;
    word-spacing: 2rem;
}

a:hover,
.alert-text:hover {
    color: rgb(104, 237, 113);
    transition: all 200ms ease;
    cursor: pointer;
}

/* CONTENT */
.container {
    padding: 1.5rem;
    margin-left: 170px;
    height: auto;
    overflow: hidden;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container p {
    font-size: 0.85rem;
}

.home {
    font-size: 2rem;
    align-items: center;
    height: auto;
    justify-content: baseline;
}

.about {
    justify-content: baseline;
}

.languages {
    padding: 1.5rem 0rem;
}

.languages-list {
    color: white;
    list-style: none;
    padding: 1rem 0rem;
    font-size: 2rem;
    display: flex;
    align-items: baseline;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    color: #777;
}

.project-card {
    width: auto;
    height: auto;
    overflow: hidden;
    text-align: center;
    padding: 1.5rem;
    transition: transform 0.3s ease;
    align-items: self-end;
}

.project-card:hover {
    transform: scale(1.05);
    background-color: rgb(12, 12, 12);
    transition: all 200ms ease;
}